### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

### CMake template
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
CMakeListsPrivate.txt
*.cbp

## PlatformIO Template
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
.pio/build/project.checksum
.pio/build/uno/.sconsign.py27.dblite
.pio/build/uno/firmware.elf
.pio/build/uno/firmware.hex
.pio/build/uno/libFrameworkArduino.a
.pio/build/uno/libFrameworkArduinoVariant.a
.pio/build/uno/FrameworkArduino/abi.cpp.o
.pio/build/uno/FrameworkArduino/CDC.cpp.o
.pio/build/uno/FrameworkArduino/HardwareSerial.cpp.o
.pio/build/uno/FrameworkArduino/HardwareSerial0.cpp.o
.pio/build/uno/FrameworkArduino/HardwareSerial1.cpp.o
.pio/build/uno/FrameworkArduino/HardwareSerial2.cpp.o
.pio/build/uno/FrameworkArduino/HardwareSerial3.cpp.o
.pio/build/uno/FrameworkArduino/hooks.c.o
.pio/build/uno/FrameworkArduino/IPAddress.cpp.o
.pio/build/uno/FrameworkArduino/main.cpp.o
.pio/build/uno/FrameworkArduino/new.cpp.o
.pio/build/uno/FrameworkArduino/PluggableUSB.cpp.o
.pio/build/uno/FrameworkArduino/Print.cpp.o
.pio/build/uno/FrameworkArduino/Stream.cpp.o
.pio/build/uno/FrameworkArduino/Tone.cpp.o
.pio/build/uno/FrameworkArduino/USBCore.cpp.o
.pio/build/uno/FrameworkArduino/WInterrupts.c.o
.pio/build/uno/FrameworkArduino/wiring_analog.c.o
.pio/build/uno/FrameworkArduino/wiring_digital.c.o
.pio/build/uno/FrameworkArduino/wiring_pulse.c.o
.pio/build/uno/FrameworkArduino/wiring_pulse.S.o
.pio/build/uno/FrameworkArduino/wiring_shift.c.o
.pio/build/uno/FrameworkArduino/wiring.c.o
.pio/build/uno/FrameworkArduino/WMath.cpp.o
.pio/build/uno/FrameworkArduino/WString.cpp.o
.pio/build/uno/lib16b/libAutomaton_ID545.a
.pio/build/uno/lib16b/Automaton_ID545/Atm_analog.cpp.o
.pio/build/uno/lib16b/Automaton_ID545/Atm_bit.cpp.o
.pio/build/uno/lib16b/Automaton_ID545/Atm_button.cpp.o
.pio/build/uno/lib16b/Automaton_ID545/Atm_command.cpp.o
.pio/build/uno/lib16b/Automaton_ID545/Atm_comparator.cpp.o
.pio/build/uno/lib16b/Automaton_ID545/atm_connector.cpp.o
.pio/build/uno/lib16b/Automaton_ID545/Atm_controller.cpp.o
.pio/build/uno/lib16b/Automaton_ID545/atm_counter.cpp.o
.pio/build/uno/lib16b/Automaton_ID545/Atm_digital.cpp.o
.pio/build/uno/lib16b/Automaton_ID545/Atm_encoder.cpp.o
.pio/build/uno/lib16b/Automaton_ID545/Atm_fade.cpp.o
.pio/build/uno/lib16b/Automaton_ID545/Atm_fan.cpp.o
.pio/build/uno/lib16b/Automaton_ID545/Atm_led.cpp.o
.pio/build/uno/lib16b/Automaton_ID545/Atm_player.cpp.o
.pio/build/uno/lib16b/Automaton_ID545/Atm_step.cpp.o
.pio/build/uno/lib16b/Automaton_ID545/atm_timer_millis.cpp.o
.pio/build/uno/lib16b/Automaton_ID545/Atm_timer.cpp.o
.pio/build/uno/lib16b/Automaton_ID545/Automaton.cpp.o
.pio/build/uno/lib16b/Automaton_ID545/Machine.cpp.o
.pio/build/uno/lib44b/libModbusSerial_ID1727.a
.pio/build/uno/lib44b/ModbusSerial_ID1727/ModbusSerial.cpp.o
.pio/build/uno/lib7e0/libWire.a
.pio/build/uno/lib7e0/Wire/Wire.cpp.o
.pio/build/uno/lib7e0/Wire/utility/twi.c.o
.pio/build/uno/libaea/libSoftwareSerial.a
.pio/build/uno/libaea/SoftwareSerial/SoftwareSerial.cpp.o
.pio/build/uno/libc13/libAdafruit MCP23017 Arduino Library_ID334.a
.pio/build/uno/libc13/Adafruit MCP23017 Arduino Library_ID334/Adafruit_MCP23017.cpp.o
.pio/build/uno/libd97/libModbus_ID1726.a
.pio/build/uno/libd97/Modbus_ID1726/Modbus.cpp.o
.pio/build/uno/src/Atm_mcp_input.cpp.o
.pio/build/uno/src/Atm_mcp_output.cpp.o
.pio/build/uno/src/destruction_console_modbus.cpp.o
.pio/build/uno/src/DestructionConsole.cpp.o
.pio/libdeps/uno/Adafruit MCP23017 Arduino Library_ID334/.library.json
.pio/libdeps/uno/Adafruit MCP23017 Arduino Library_ID334/Adafruit_MCP23017.cpp
.pio/libdeps/uno/Adafruit MCP23017 Arduino Library_ID334/Adafruit_MCP23017.h
.pio/libdeps/uno/Adafruit MCP23017 Arduino Library_ID334/keywords.txt
.pio/libdeps/uno/Adafruit MCP23017 Arduino Library_ID334/library.properties
.pio/libdeps/uno/Adafruit MCP23017 Arduino Library_ID334/license.txt
.pio/libdeps/uno/Adafruit MCP23017 Arduino Library_ID334/README.md
.pio/libdeps/uno/Adafruit MCP23017 Arduino Library_ID334/.github/ISSUE_TEMPLATE.md
.pio/libdeps/uno/Adafruit MCP23017 Arduino Library_ID334/.github/PULL_REQUEST_TEMPLATE.md
.pio/libdeps/uno/Adafruit MCP23017 Arduino Library_ID334/examples/button/button.ino
.pio/libdeps/uno/Adafruit MCP23017 Arduino Library_ID334/examples/interrupt/interrupt.ino
.pio/libdeps/uno/Adafruit MCP23017 Arduino Library_ID334/examples/toggle/toggle.ino
.pio/libdeps/uno/Automaton_ID545/.clang-format
.pio/libdeps/uno/Automaton_ID545/.gitattributes
.pio/libdeps/uno/Automaton_ID545/.gitignore
.pio/libdeps/uno/Automaton_ID545/.library.json
.pio/libdeps/uno/Automaton_ID545/keywords.txt
.pio/libdeps/uno/Automaton_ID545/library.json
.pio/libdeps/uno/Automaton_ID545/library.properties
.pio/libdeps/uno/Automaton_ID545/LICENSE
.pio/libdeps/uno/Automaton_ID545/README.md
.pio/libdeps/uno/Automaton_ID545/examples/blink/blink.ino
.pio/libdeps/uno/Automaton_ID545/examples/blink_modular/Atm_blink.cpp
.pio/libdeps/uno/Automaton_ID545/examples/blink_modular/Atm_blink.h
.pio/libdeps/uno/Automaton_ID545/examples/blink_modular/blink_modular.ino
.pio/libdeps/uno/Automaton_ID545/examples/button/button.ino
.pio/libdeps/uno/Automaton_ID545/examples/fade/fade.ino
.pio/libdeps/uno/Automaton_ID545/examples/frere_jacques/frere_jacques.ino
.pio/libdeps/uno/Automaton_ID545/examples/frere_jacques/musical_notes.h
.pio/libdeps/uno/Automaton_ID545/examples/knight_rider1/knight_rider1.ino
.pio/libdeps/uno/Automaton_ID545/examples/knight_rider2/Atm_sweep.cpp
.pio/libdeps/uno/Automaton_ID545/examples/knight_rider2/Atm_sweep.h
.pio/libdeps/uno/Automaton_ID545/examples/knight_rider2/knight_rider2.ino
.pio/libdeps/uno/Automaton_ID545/examples/knight_rider3/knight_rider3.ino
.pio/libdeps/uno/Automaton_ID545/examples/led_fuel_gauge/led_fuel_gauge.ino
.pio/libdeps/uno/Automaton_ID545/examples/led_test/led_test.ino
.pio/libdeps/uno/Automaton_ID545/examples/nuclear_missile_launcher/nuclear_missile_launcher.ino
.pio/libdeps/uno/Automaton_ID545/examples/sos1/sos1.ino
.pio/libdeps/uno/Automaton_ID545/examples/sos2/sos2.ino
.pio/libdeps/uno/Automaton_ID545/examples/sos3/sos3.ino
.pio/libdeps/uno/Automaton_ID545/extras/update.sh
.pio/libdeps/uno/Automaton_ID545/src/Atm_analog.cpp
.pio/libdeps/uno/Automaton_ID545/src/Atm_analog.hpp
.pio/libdeps/uno/Automaton_ID545/src/Atm_bit.cpp
.pio/libdeps/uno/Automaton_ID545/src/Atm_bit.hpp
.pio/libdeps/uno/Automaton_ID545/src/Atm_button.cpp
.pio/libdeps/uno/Automaton_ID545/src/Atm_button.hpp
.pio/libdeps/uno/Automaton_ID545/src/Atm_command.cpp
.pio/libdeps/uno/Automaton_ID545/src/Atm_command.hpp
.pio/libdeps/uno/Automaton_ID545/src/Atm_comparator.cpp
.pio/libdeps/uno/Automaton_ID545/src/Atm_comparator.hpp
.pio/libdeps/uno/Automaton_ID545/src/atm_connector.cpp
.pio/libdeps/uno/Automaton_ID545/src/atm_connector.hpp
.pio/libdeps/uno/Automaton_ID545/src/Atm_controller.cpp
.pio/libdeps/uno/Automaton_ID545/src/Atm_controller.hpp
.pio/libdeps/uno/Automaton_ID545/src/atm_counter.cpp
.pio/libdeps/uno/Automaton_ID545/src/atm_counter.hpp
.pio/libdeps/uno/Automaton_ID545/src/Atm_digital.cpp
.pio/libdeps/uno/Automaton_ID545/src/Atm_digital.hpp
.pio/libdeps/uno/Automaton_ID545/src/Atm_encoder.cpp
.pio/libdeps/uno/Automaton_ID545/src/Atm_encoder.hpp
.pio/libdeps/uno/Automaton_ID545/src/Atm_fade.cpp
.pio/libdeps/uno/Automaton_ID545/src/Atm_fade.hpp
.pio/libdeps/uno/Automaton_ID545/src/Atm_fan.cpp
.pio/libdeps/uno/Automaton_ID545/src/Atm_fan.hpp
.pio/libdeps/uno/Automaton_ID545/src/Atm_led.cpp
.pio/libdeps/uno/Automaton_ID545/src/Atm_led.hpp
.pio/libdeps/uno/Automaton_ID545/src/Atm_player.cpp
.pio/libdeps/uno/Automaton_ID545/src/Atm_player.hpp
.pio/libdeps/uno/Automaton_ID545/src/atm_serial_debug.hpp
.pio/libdeps/uno/Automaton_ID545/src/Atm_step.cpp
.pio/libdeps/uno/Automaton_ID545/src/Atm_step.hpp
.pio/libdeps/uno/Automaton_ID545/src/atm_timer_millis.cpp
.pio/libdeps/uno/Automaton_ID545/src/atm_timer_millis.hpp
.pio/libdeps/uno/Automaton_ID545/src/Atm_timer.cpp
.pio/libdeps/uno/Automaton_ID545/src/Atm_timer.hpp
.pio/libdeps/uno/Automaton_ID545/src/Automaton.cpp
.pio/libdeps/uno/Automaton_ID545/src/Automaton.h
.pio/libdeps/uno/Automaton_ID545/src/Machine.cpp
.pio/libdeps/uno/Automaton_ID545/src/Machine.hpp
.pio/libdeps/uno/ModbusSerial_ID1727/.library.json
.pio/libdeps/uno/ModbusSerial_ID1727/keywords.txt
.pio/libdeps/uno/ModbusSerial_ID1727/library.json
.pio/libdeps/uno/ModbusSerial_ID1727/LICENSE
.pio/libdeps/uno/ModbusSerial_ID1727/ModbusSerial.cpp
.pio/libdeps/uno/ModbusSerial_ID1727/ModbusSerial.h
.pio/libdeps/uno/ModbusSerial_ID1727/examples/Lamp/Lamp.ino
.pio/libdeps/uno/ModbusSerial_ID1727/examples/Servo/Servo.ino
.pio/libdeps/uno/ModbusSerial_ID1727/examples/Switch/Switch.ino
.pio/libdeps/uno/ModbusSerial_ID1727/examples/TempSensor/TempSensor.ino
.pio/libdeps/uno/Modbus_ID1726/.library.json
.pio/libdeps/uno/Modbus_ID1726/keywords.txt
.pio/libdeps/uno/Modbus_ID1726/library.json
.pio/libdeps/uno/Modbus_ID1726/LICENSE
.pio/libdeps/uno/Modbus_ID1726/Modbus.cpp
.pio/libdeps/uno/Modbus_ID1726/Modbus.h
.vscode/c_cpp_properties.json
.vscode/extensions.json
.vscode/launch.json
